@tailwind base;
@tailwind components;
@tailwind utilities;

body {background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(239,246,249,1) 0%, rgba(206,239,253,1) 90% );}
h1 {font-family: 'Indie Flower', cursive;}

.calculator_body{background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);} 
.calculator_screen {background-color: #263d4e;}
.calculator_number button {padding: 1rem;}
.calculator_tool button {margin-top: 1rem;}